<?xml version="1.0"?>
<config>
    <modules>
        <PWS_ExtCustomerFields>
            <version>0.1.0</version>
        </PWS_ExtCustomerFields>
    </modules>
    <frontend>  
        <routers>
            <pws_extshipping>
                <use>standard</use>
                <args>
                    <module>PWS_ExtShipping</module>
                    <frontName>pws_extshipping</frontName>
                </args>
            </pws_extshipping>
        </routers>      
        <layout>
            <updates>
                <pws_extcustomerfields module="PWS_ExtCustomerFields">
                    <file>pws_extcustomerfields.xml</file>
                </pws_extcustomerfields>
            </updates>
        </layout>        
    </frontend> 
    <global> 
		<models>
			<pws_extcustomerfields>
				<class>PWS_ExtCustomerFields_Model</class>
			</pws_extcustomerfields>
		</models>
		<resources>
            <pws_extcustomerfields_setup>
                <setup>
                    <module>PWS_ExtCustomerFields</module>                    
                    <class>PWS_ExtCustomerFields_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pws_extcustomerfields_setup>
            <pws_extcustomerfields_write>
				<connection>
					<use>core_write</use>
				</connection>
			</pws_extcustomerfields_write>
			<pws_extcustomerfields_read>
				<connection>
					<use>core_read</use>
				</connection>
			</pws_extcustomerfields_read>     
   		</resources>
		<blocks>     
			<pws_extcustomerfields>
			    <class>PWS_ExtCustomerFields_Block</class>
			</pws_extcustomerfields>	
		</blocks>   	
		<helpers>
			<pws_extcustomerfields>
				<class>PWS_ExtCustomerFields_Helper</class>
			</pws_extcustomerfields>            
		</helpers>
		<fieldsets>
            <customer_account> 
                <registration_number><create>1</create><update>1</update></registration_number>
                <registration_comment><create>1</create><update>1</update></registration_comment>
            </customer_account>
        </fieldsets>  
    </global>    
</config>
